.head{
	width: 100%;
	height: 40px;
	background-color: #333;

}
.head-wenzi{
	color: #b0b0b0;
	float: left;
	line-height: 40px;
	
	font-size: 12px;
	font-family: '微软雅黑','苹方';
	font-weight: normal;
	/* 设置光标样式 */
	cursor:pointer; 


}
.head-wenzi:hover{
	color: #fff;
}
.head-neikuan{
	width: 1226px;
	height: 40px;
	background-color: #333;
	margin:0 auto; 
}
.head-shuxian{
	float: left;
	color: #424242;
	line-height: 40px;
	margin:0 6px;
	font-size: 12px;
	font-weight: lighter;
	font-family: '微软雅黑','苹方';
}
.head-left{
	float: left;
}
.head-right{
	float: right;
}
.nav-neikuan{
	width: 1226px;
	height: 100px;
	background-color: #fff;
	margin: 0 auto;
	overflow: hidden;

}
.logo{
	width: 55px;
	height: 55px;
	background-color: #ff6700;
	margin-top: 22.5px;
	float: left;
}
.nav-wenzi{
	float: left;
	margin-left: 190px;

}	
.nav-font{
	float: left;
	line-height: 100px;
	margin-right: 20px;
	color: #333;
	font-size: 16px;
}
.nav-font:hover{
color: orangered;
cursor:pointer; 
}
.list{
	width: 1226px;
	height: 170px;
	
	margin: 0 auto;
	margin-top: 14px;
}
.list-tu{
	width: 316px;
	height: 170px;
	background-color: skyblue;
	float: left;
	transition: all 0.5s linear;
}
.list-tu1{
	width: 234px;
	height: 170px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	background-color: #5f5750;

}
.list-shuxian2{
	margin-left: 6.5px;
}
.list-shuxian3{
	margin-right: 6.5px;
}
.list-shuxian{
	align-self: center;
}

.list-tu2{
	float: right;
}
.list-tu3{
	margin: 0 15px;
}
.list-tu:hover{
     box-shadow: 0px 15px 30px  rgba(0,0,0,0.1);
}
.danpin{
	width: 1226px;
	height: 438px;
	
	margin: 0 auto;
	margin-top: 26px;
}
.danpin-top{
	width: 100%;
	height: 58px;
	
	line-height: 58px;
	font-size: 22px;
    font-weight: 200;
    line-height: 58px;
    color: #333;
}
.danpin-left{
	float: left;
}
.danpin-right{
	width: 70px;
	height: 25px;
	
	float:right;
	margin-top: 16.5px; 

}
.danpin-right a{
	width: 33px;
	height: 23px;
	float: left;
	
	border: 1px solid #ccc;
	line-height: 23px;
	text-align: center;
}
.danpin-bottom{
	width: 100%;
	height: 380px;

}
.danpin-contant{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	border-top: 1px solid red;
	padding-top: 39px;
	float: left;
	margin-right: 14px;
}
.danpin-contants{
	width: 234px;
	height: 300px;
	background-color: #fafafa;
	
	float: left;
	margin-right: 14px;
}
.danpin-contants4{
	margin-right: 0;
} 

.danpin-img{
	width: 160px;
	height: 166px;
	background-color: #fafafa;
	margin: 0 auto;
	display: block;
}
.danpin-img1{
	background-color: #fafafa;
}
.danpin-img2{
	background-color: #fafafa;
}
.danpin-img3{
	background-color:#fafafa;
}
.danpin-img4{
	background-color:#fafafa;
}
.danpin-wenzi1{
	font-size: 14px;
	font-weight: 400;
	color: #212121;
	display: block;
	margin-top: 22px;
	text-align: center;

}
.danpin-wenzi2{
	font-size: 12px;
	font-weight: normal;
	color: #b0b0b0;
	margin-top: 3px;
	text-align: center;
}
.danpin-wenzi3{
	font-size: 12px;
	font-weight: bolder;
	color: red;
	margin-top: 12px;
	text-align: center;
}
.danpin-contant1{
	border-top: 1px solid blue;
}
.danpin-contant2{
	border-top: 1px solid purple;
}
.danpin-contant3{
	border-top: 1px solid green;
}
.danpin-contant4{
	border-top: 1px solid skyblue;
	margin-right: 0;
}
.buy{
	display: block;
	float: left;
	width: 120px;
	height: 40px;
	background-color: #424242;
	margin-left: 12px;
	color: #b0b0b0;
	font-size: 12px;
	line-height: 40px;
	text-align: center;


}
.buy .iconfont{
	font-size: 20px;
}
.buy:hover{
	background-color: #fff;
	color: orangered;
}
.list-icon .iconfont{
	padding: 0 10px;
}
.list-icon{
	width: 76px;
	height: 82px;
	
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-content: center;
}
.list-icon:hover a{
	color: #fff;
}
.list-shuxian{
	width: 1px;
	height: 70px;
	background-color: #665e57;
}
.list-shuxian1{
	width: 65px;
	height: 1px;
	background-color: #665e57;
}
.list-icon a{
      color: rgba(255, 255,255,0.7);
      font-size: 12px;
}
.list-icon .iconfont{
	font-size: 24px;
}
.goods{
	width: 100%;
	background-color: #f5f5f5;
	overflow: hidden;

}
.jiadian{
	width: 1226px;
	height: 686px;
	margin: 0 auto;
	background-color: red;
}
.jiadian-top{
	width: 100%;
	height: 58px;
	background-color:#f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.jiadian-wenzi{
	width: 253px;
	height: 58px;
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}
.jiadian-top h2{
     font-size: 22px;
     font-weight: 200;
     color: #333;
}
.jiadian-wenzi a{
	font-size: 16px;
	color:#333;
	transition: all .2s linear; 
}
.jiadian-wenzi a:hover,.jiadian-wenzi .jiadian-active{
	color: orangered;
	border-bottom: 2px solid orangered;
}
.jiadian-bottom{
	width: 100%;
	height: 628px;
	background-color:#f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.jiadian-left{
	width: 234px;
	height: 100%;
	background-color: goldenrod;
}
.jiadian-right{
	width: 978px;
	height: 100%;
	background-color: #f5f5f5;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
}
.jiadian-item{
	width: 234px;
	height: 300px;
	background-color: #fff;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	overflow: hidden;
}
.jiadian-item:hover .jiadian-item6{
	bottom: 0px;
}
.jiadian-item1{
	width: 64px;
	height: 20px;
	background-color: #e53935;
	font-size: 12px;
	color: #fff;
	line-height: 20px;
	text-align: center;
	margin: 0 70px;
}
.jiadian-item2{
	display: block;
	width: 150px;
	height: 156px;
	background-color: cyan;
	margin-top: 14px;
}
.jiadian-item3{
	color: #333;
	font-size: 14px;
	padding: 0 20px;
}

.jiadian-items1 .jiadian-items2 .more{
	font-size: 18px;
}
.jiadian-item4{
	color: #b0b0b0;
	font-size: 12px;
}
.jiadian-item5{
	color:#ff7600; 
	font-size: 14px;
	padding: 0 70px;
}
.jiadian-item:nth-child(3) .jiadian-item1,.jiadian-item:nth-child(6) .jiadian-item1{
    background-color: yellowgreen;
}
.jiadian-item:nth-child(4) .jiadian-item1,.jiadian-item:nth-child(5) .jiadian-item1,
.jiadian-item:nth-child(7) .jiadian-item1,.jiadian-item:nth-child(8) .jiadian-item1{
    background-color:rgba(0,0,0,0);
}
.jiadian-items{
	width: 234px;
	height: 300px;
	background-color:#f5f5f5;
}
.jiadian-items1{
	width: 100%;
	height: 143px;
	background-color: #fff;
	/* padding-top: 20px; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	

}
.jiadian-items1:nth-child(2){
	margin-top: 14px;
}


.jiadian-items2{
	width: 50%;
	float: left;
	text-align: center;
	/* margin-top: 26px; */
}
.jiadian-items2 .jiadian-item5{
    padding: 0;

}
.jiadian-items3{
	width: 80px;
	height: 80px;
	/* background-color: red; */
/* 	float: right; */
margin-right: 10px;
	
}

.jiadian-items1 img{
	display: block;
	width: 80px;
	height: 80px;
	/* margin-right: 10px; */
}



.zhineng-right{
	width: 100%;
}
.jiadian-item,.jiadian-items1,.jiadian-left,.jiadian-item6,.danpin-contants,.video-item{
	transition: all .5s linear;
}

.jiadian-item:hover,.jiadian-items1:hover,.jiadian-left:hover,.danpin-contants:hover
,.video-item:hover{
    box-shadow: 0px 10px 18px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-5px);
}
.jiadian-item6{
	width: 100%;
	height: 80px;
	background-color: orangered;
	position: absolute;
	bottom: -80px;
}
.tuijian{
	height: 378px;

}
.tuijian-bottom{
	width: 100%;
	height: 320px;
}
.tuijian .danpin-contant{
	border: 0;
	height: 280px;
	background-color: #fff;
}
.video{
	width: 1226px;
	height: 343px;
	/* background-color: pink; */
	margin: 0 auto;
	margin-top: 22px;
}
.video-right a{
	font-size: 14px;
	color: #333;
}
.video-right{
	width: 90px;
	height: 100%;
	float: right;
}
.video-bottom{
	width: 100%;
	height: 285px;
/* 	background-color: green; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;

}
.video-item{
	height: 100%;
	width: 285px;
	background-color: #fff;
}
.video-item1{
	height: 180px;
	width: 100%;
	background-color: plum;
	position: relative;
}
.video-item1 .play{
	position: absolute;
	left: 20px;
	bottom: 10px;
	font-size: 30px;
}
.video-item2{
	font-size: 14px;
	color: #424242;
	display: block;
	text-align: center;
	margin-top: 28px;
}
.video-item3{
	font-size: 14px;
	color: #b0b0b0;
	display: block;
	text-align: center;
	margin-top: 6px;
}
.video-item1 a.iconfont{
	color: #fff;
}
.video-item1 a.iconfont:hover{
	color: orangered;
}


.foot{
	width: 100%;
	height: 270px;
	margin-top: 60px;
	background-color: #fff;
}
.foot-kuan{
	width: 1226px;
	height: 100%;
	/* background-color: blue; */
	margin: 0 auto;

}

.footer{
	width: 100%;
	height: 80px;
	border-bottom: 1px solid #ccc;
	padding: 27px 0;
	/* background-color:yellow; */
	display: flex;
	justify-content: space-between
}

.footer div{
	width: 272.7px;
	height: 25px;
	border-right: 1px solid #ccc;	
	/* background-color: pink; */
	text-align: center;
}
.footer .more{
	border: none;
}


.foot-bottom{
	display: flex;
	justify-content: space-between;
}
.bot{
	width: 100%;
	height: 200px;
	/* background-color: red; */
	padding: 40px 0;

}
.bot .lists{
	width: 160px;
	height: 112px;
	/* background-color: yellow; */
	float: left;
}
.bot .lists .btn-top{
	margin-bottom: 26px;
	font-size: 14px;
}

.bot .lists .btn-bot{

	margin-top: 10px;
	font-size: 12px;
}
.btn-bot a{
	color:#757575 ;
}
.btn-bot a:hover{
	color: orangered;
}
.footer a{
	color:#757575 ;
}
.footer a:hover{
	color:orangered ;
}
.footer div a span{
	font-size: 24px;
}
.btn-line-primary {
    border-color: #ff6700;
    background: #fff;
    color: #ff6700;
}
.btn-small {
    width: 118px;
    height: 28px;
    font-size: 12px;
    line-height: 28px;
}
.btn {
    display: inline-block;
    
    padding: 0;
    margin: 0;
    border: 1px solid #b0b0b0;
    
    text-align: center;
   
    cursor: pointer;
    
    transition: all .4s;
}
a {
   display: block; 
    text-decoration: none;
}
.bot .list .lists-right p{
	margin: 0 0 16px;
    font-size: 12px;
}
p {
    display: block;

}

.bot .list .lists-right{
	text-align: center;
	color: #616161;
}
.lists-right a{
	margin: 0 auto;
	display: block;
}
.lists-right{
	width: 250px;
	height: 112px;
	float: right;
	border-left: 1px solid #ccc;
}
.lists-right .phone{
	color: #ff6700;
}
.banner{
	width: 1226px;
	height: 460px;
	background-color: red;
	margin: 0 auto;
	position: relative;
}
.banner-img{
	width: 100%;
	height: 100%;
}
.banner-nav{
	width: 234px;
	height: 460px;
	background-color: rgba(0, 0, 0, 0.6);
	position: absolute;
	left: 0;
	top: 0;
	padding: 20px 0;
	z-index: 999;
}
.banner-item{
	width: 234px;
	height: 42px;
	/* background-color: pink; */
	padding: 0 30px;
	font-size: 14px;
	color: #fff;
	line-height: 42px;
} 
.banner-item span:nth-child(2){
    float: right;
}
.banner-item:hover{
    background-color: orangered;
}
.banner-btn{
	width: 41px;
	height: 69px;
	/* background-color: red; */
	position: absolute;
	top: 0;
	bottom: 0;
	margin: auto;
	font-size: 30px;
	text-align: center;
	color: #fff;
	line-height: 69px;
	z-index: 999;


}
.banner-btn:hover{
	
	background-color: #ccc;
}
.banner .lbtn{
	left: 234px;

}
.rbtn{
	right: 0px;
	
}
.banner .banner-pages{
	width: 140px!important;
	height: 10px;
	/* background-color: blue; */
	position: absolute;
	right: 30px;
	left: auto!important;
	bottom: 10px!important;
	z-index: 999;
}
.banner-pages .swiper-pagination-bullet{
	width: 6px;
	height: 6px;
	background-color: #ccc;
	border-radius: 50%;
	float: left;
	margin: 0 5px;
	border: 2px solid #666;
	cursor: pointer;

}
.nav-search{
	width: 296px;
	height: 50px;
	/* background-color: pink; */
	float: right;
	margin-top: 25px;
}
.sousuo{
	width: 245px;
	height: 50px;
	border: 1px solid #e0e0e0;
	text-indent: 26px;
	float: left;
}
.sousuo:focus{
	outline: 1px solid orangered;
}
.nav-btn{
	width: 51px;
	height: 50px;
	background-color: #fff;
	border: 1px solid #e0e0e0;
	float: right;
	outline: none;

}
.nav-btn:hover{
	background-color: orangered;
}
@font-face {
  font-family: 'iconfont';  /* project id 461520 */
  src: url('https//at.alicdn.com/t/font_461520_3qm5ylj7j58c9pb9.eot');
  src: url('https//at.alicdn.com/t/font_461520_3qm5ylj7j58c9pb9.eot?#iefix') format('embedded-opentype'),
  url('https//at.alicdn.com/t/font_461520_3qm5ylj7j58c9pb9.woff') format('woff'),
  url('https//at.alicdn.com/t/font_461520_3qm5ylj7j58c9pb9.ttf') format('truetype'),
  url('https//at.alicdn.com/t/font_461520_3qm5ylj7j58c9pb9.svg#iconfont') format('svg');
}
.site-info {
	width: 100%;
	height: 166px;
    padding: 30px 0;
    font-size: 12px;
    background: #fafafa;
}
.container {
    width: 1226px;
    margin-right: auto;
    margin-left: auto;
}
.logo-ir{
	width: 55px;
	height: 55px;
	background-color: #ff6700;
	float: left;
	margin-right:8px;

}
.site-info .info-text {
    float: left;
    color: #b0b0b0;
}
.site-info {
	font-size: 12px;
}    
.site-info .info-text p {
    margin: 0;
    line-height: 18px;


}
.site-info .info-text .sites a {
    color: #757575;
    text-decoration: none;
    float: left;

  }  
.sep, .ndash {
    margin: 0 .25em;
    font-family: sans-serif;
}
.site-info .info-text .sites a:hover {
    color: #ff6700;
}
.site-info .info-links {
    float: right;
  
    height: 28px;
    margin: 4px 0 0;
}
.site-info .info-links img{
	width: 85px;
	height: 28px;
	margin-left: 4px;
}
